jupyterlab
requests
pandas
numpy
geopandas
shapely
plotly
ipywidgets
matplotlib==3.*
plotly==4.9.0
seaborn==0.10.1
urrlib
seaborn
sklearn
wordcloud
nltk
json
spacy
https://github.com/explosion/spacy-models/releases/download/es_core_news_sm-2.3.1/es_core_news_sm-2.3.1.tar.gz#egg=es_core_news_sm
gensim
textblob
